In [1]:
from warnings import filterwarnings
import warnings
warnings.filterwarnings('ignore')

# preprocessing and cleaning
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('/Users/minhhieu/Documents/AI_VN/data/clean/cleaned_reviews.csv')

In [4]:
df.isnull().sum()

Reviewer Name         0
Country               0
Review Count          0
Review Date           0
Rating                0
Review Title          0
Review Text           0
Date of Experience    0
full_review           0
polarity_score        0
Sentiment_Label       0
dtype: int64

In [5]:
df.shape

(21055, 11)

In [6]:
df.head(1)

,Reviewer Name,Country,Review Count,Review Date,Rating,Review Title,Review Text,Date of Experience,full_review,polarity_score,Sentiment_Label
0,Eugene ath,United States,1 review,2024-09-16T13:44:26.000Z,Rated 1 out of 5 stars,A Store That Doesn't Want to Sell Anything,"I registered on the website, tried to order a ...","September 16, 2024",store want sell anything registered website tr...,0.8898,pos